<h1>Our Crashing Flatiron Team</h1>
<style>
    div.container {
      display:inline-block;
    }

    p {
      text-align:center;
    }
  </style>

<body>
  <div class="container">
    <img src="images/Jeannie.jpg" />
    <p>Jeannie Blackwood</p>
  </div>
  <div class="container">
    <img class="middle-img" src="images/Micah.jpg" />
    <p>Micah Jaffe</p>
  </div>
</div>
<div class="container">
  <img src="images/Rachel.jpg" />
  <p>Rachel Smedley</p>
</div>
<div class="container">
  <img class="middle-img" src="images/Andrew.jpg" />
  <p>Andrew Hausman</p>
</div>
</div>

</body>



<h3>Thanks for checking out our facepage!</h3>
