<h1>Startup Sprint!</h1>
<img src="images/learnco.png">

<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
<link rel="icon" href="/favicon.ico" type="image/x-icon">

<h3>Subscribe to the Startup Sprint newsletter</h3>
<% if @error == 'email' %>
  <p style="color: red;">Please enter a valid email</p>
<% end %>
<form method=POST action="/subscribe">
  <label for="full-name">Full Name</label>
  <input type="text" id="full_name" name="full_name" required>
  <label for="email">Email</label>
  <input type="text" id="email" name="email" required>
  <label for="city">City</label>
  <input type="text" id="city" name="city" required>
  <input type="Submit">
</form>


<a href="/rainbow">Rainbow</a>

<a href="/facepage">Meet Our Team</a>

<a href="/schedule">Schedule</a>

<a href="/youtube">Youtube</a>
