<div class="rainbow-container">
  <div class="rainbow-row" id="one"></div>
  <div class="rainbow-row" id="two"></div>
  <div class="rainbow-row" id="three"></div>
  <div class="rainbow-row" id="four"></div>
  <div class="rainbow-row" id="five"></div>
  <div class="rainbow-row" id="six"></div>
  <div class="rainbow-row" id="seven"></div>
</div>
