<link rel="stylesheet" href="stylesheets/main.css">

<div id="R-rainbow"> </div>
<div id="O-rainbow"> </div>
<div id="Y-rainbow"> </div>
<div id="G-rainbow"> </div>
<div id="B-rainbow"> </div>
<div id="I-rainbow"> </div>
<div id="V-rainbow"> </div>
