<h1>Team Page</h1>

<img class=rotate src="images/faces/AMY.JPG">
<br>
<p>Amy Kamdem</p>
<img class=rotate src="images/faces/ANDREW.JPG">
<p>Andrew Cloyd</p>
<br>
<img class=rotate src="images/faces/EMILY.JPG">
<p> Emily Meyer</p>
<br>
<img class=rotate src="images/faces/ESHE.JPG">
<p> Eshe Hawash</p>
<br>
<img class=rotate src="images/faces/MICHAEL.JPG">
<p> Michael Selchow</p>
<br>
<img class=rotate src="images/faces/NOAH.JPG">
<p> Noah Zweben</p>
<br>
<img class=rotate src="images/faces/SEAN.JPG">
<p>Sean Pitterson</p>
<br>
</form>
