<ul class="nav">
<li><a href="home">Home</a></li>
<li><a href="schedule">Schedule</a></li>
<li><a href="layout">Layout</a></li>
<li><a href="reddit">Reddit</a></li>
<li><a href="subscribe">Subscribe</a></li>
</ul>

<p>Thanks for subscribing <%= @full_name %> from <%= @your_city %> </p>

<a href="/">Home</a>
