<h1>Team Members</h1>

<div>
  <div class = "column">
    <h3>Jamie Cooper</h3>
    <img src="teampic_jamie.jpg" alt="jamie_pic">
  </div>
  <div class = "column">
    <h3>Brandon Davenport</h3>
    <img src="teampic_brandon.jpg" alt="brandon_pic">
  </div>
  <div class = "column">
    <h3>Franklin Li</h3>
    <img src="teampic_franklin.jpg" alt="franklin_pic">
  </div>
  <div class = "column">
    <h3>Ben Spector</h3>
    <img src="teampic_ben.jpg" alt="ben_pic">
  </div>
</div>
