/*
 * TODO: add custom styling
 */

.column {
  -webkit-column-count: 3; /* Chrome, Safari, Opera */
  -moz-column-count: 3; /* Firefox */
  column-count: 3;
}

rainbow-container{
  height: 1050px;
}

.rainbow-row {
  height:150px;
}

#one {
  background-color: red;
}

#two {
  background-color: orange;
}

#three {
  background-color: yellow;
}

#four {
  background-color: green;
}

#five {
  background-color: blue;
}

#six {
  background-color: indigo;
}

#seven {
  background-color: violet;
}
