/*
 * TODO: add custom styling
 */

.column {
  padding-left: 20px;

}

.nav {
  list-style: none;
}
.rotate{-ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
}
